body{
    padding-top: 70px;
}

.signUpArea{
    margin-top: 30px;
}


#transactionArea{
    display: none;
}


.box{
     margin: 0px 20px;
     padding: 10px;
     border-radius: 20px;
     color: white;
     box-shadow: 5px 5px 10px gray;
}
.deposit{
    background-color: slateblue;
   
}

.withdraw{
    background-color: orange;
}

.balance{
    background-color: red;
}

.area{
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px 20px;
}